<div data-role="header">
    <h1>Travis-CI</h1>
</div>

<div data-role="content">
    {{yield}}
</div>

<div data-role="footer">
    <small>&copy; 2013 <a href="https://github.com/floydpink">@floydpink</a></small>
</div>